
body{
    background-color: black;
}

.nft{
    alt: "Right click to save NFT!";
    border: 25px solid tomato;
    border-radius: 10px;
}

.nfttext{
    text-align: center;
    background-color: tomato;
    font-family: comic sans ms;
}