
body{
    background: linear-gradient(90deg, red, yellow, rgb(93, 93, 243));
}

.nft{
    alt: "Right click to save NFT!";
    border: 25px solid #99e077;
    border-radius: 10px;
}

.nfttext{
    text-align: center;
    background-color: #99e077;
    font-family: comic sans ms;
    color: white;
}