p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

body {
    color: black;
    background-color: black;
}